.idea*
.DS_Store*
__pycache__*
*.gif
optimized_dp/
viz/
data/
.vscode/
ocean_navigation_simulator/generative_error_model/archive/
2D_reachability_animation.html
ocean_navigation_simulator.egg-info
*.csv
wandb/