.idea*
.DS_Store*
__pycache__*
*.gif
*.log
*.egg-info
optimized_dp/
viz/
.vscode/
.ipynb_checkpoints/
generated_media/
./hj_reachability/
./data/
./models/
!generative_error_model/models
./results/
# Setup file from Jerome
setup/env*
# New dir structure
archive/
tmp/
data/
models/
results/
wandb/
