include ocean_navigation_simulator/package_data/monthly_averages/cmems_mod_glo_phy-cur_anfc_0.083deg_P1M-m_1671754935530_from_2021_to_2022.nc
include ocean_navigation_simulator/package_data/monthly_averages/cmems_mod_glo_phy-cur_anfc_0.083deg_P1M-m_1671754935530.nc