include ocean_navigation_simulator/package_data/monthly_averages/*.nc
include ocean_navigation_simulator/package_data/seaweed_growth_maps/*.nc
include ocean_navigation_simulator/package_data/nutrients/*.nc
include ocean_navigation_simulator/package_data/bathymetry_and_garbage/*.nc


