absl-py==0.13.0
alabaster==0.7.12
appdirs==1.4.3
appnope==0.1.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
Babel==2.8.0
backcall==0.2.0
bleach==3.3.0
bokeh @ file:///Users/runner/miniforge3/conda-bld/bokeh_1614595391593/work
brotlipy==0.7.0
cached-property==1.5.2
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1611555765219/work
Cartopy @ file:///Users/runner/miniforge3/conda-bld/cartopy_1614895593763/work
casadi==3.5.5
certifi==2020.11.8
cffi==1.14.5
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1612246458668/work
cgen==2020.1
chardet==3.0.4
chex==0.0.8
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
contextvars==2.4
cycler==0.10.0
cytoolz==0.10.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1614995065708/work
dataclasses==0.8
decorator==4.4.2
defusedxml==0.6.0
distributed @ file:///Users/runner/miniforge3/conda-bld/distributed_1615002639413/work
dm-tree==0.1.6
docopt==0.6.2
docutils==0.16
entrypoints==0.3
ffmpeg==1.4
flatbuffers==2.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1614107550004/work
future==0.18.2
gym==0.12.1
h5py==3.1.0
HeapDict==1.0.1
hj-reachability @ git+https://github.com/MariusWiggert/hj_reachability.git@b4039323f6c1df539d358157270757ec9f1ede21
idna==2.10
imageio==2.9.0
immutables @ file:///Users/runner/miniforge3/conda-bld/immutables_1612966360033/work
importlib-metadata==3.1.0
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jax==0.2.17
jaxlib==0.1.69
jedi==0.17.2
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1610099793872/work
locket==0.2.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1610127516870/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1611858675358/work
mistune==0.8.4
more-itertools==8.4.0
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1610121725077/work
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.4.3
netCDF4 @ file:///Users/runner/miniforge3/conda-bld/netcdf4_1613287000445/work
notebook==6.2.0
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1610324566419/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.1.4
pandocfilters==1.4.3
parcels==2.2.2
parso==0.7.1
partd==1.1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1615244006914/work
plotly==4.13.0
pluggy==0.13.1
progressbar2 @ file:///home/conda/feedstock_root/build_artifacts/progressbar2_1599661727525/work
prometheus-client==0.9.0
prompt-toolkit==3.0.8
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1610127123926/work
ptyprocess==0.6.0
py==1.10.0
pycparser==2.20
pyglet==1.3.2
Pygments==2.8.1
pymbolic==2020.1
pyparsing==2.4.7
pyrsistent==0.17.3
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1610646860606/work
pytest==6.2.2
python-dateutil==2.8.1
python-utils==2.4.0
pytools @ file:///home/conda/feedstock_root/build_artifacts/pytools_1615425650965/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
requests==2.25.0
retrying==1.3.3
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1604304816153/work
seaborn==0.11.0
Send2Trash==1.5.0
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1614897318721/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1605110889605/work
soupsieve==2.0.1
tblib==1.6.0
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1610094698557/work
tqdm==4.54.0
traitlets==4.3.3
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3==1.26.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1614346479764/work
zict==2.0.0
zipp==3.4.1
