casadi~=3.5.5
dask==2022.3.0
DateTime==4.3
geopy==2.2.0
gym==0.21
h5py~=3.7.0
imageio>=2.9.0
ipython==7.28.0
jupyter
lxml
matplotlib>=3.5.0rc1
netCDF4==1.5.7
numpy>=1.21.3
opencv_python>=4.6
pandas>=1.3.4
paramiko
plotly==5.3.1
Pydap==3.2.2
python-dateutil==2.8.2
pytz>=2021.3
PyYAML==6.0
scikit-learn>=1.1.2
scipy>=1.7.1
seaborn==0.11.2
setuptools>=58.0.4
statsmodels~=0.13.2
torch==1.12.0
tqdm==4.64
xarray==0.21.1